.main_section{
    width: 100%;
    height: 100vh;
    background-image: url(../../assets/MainPhoto.jpeg);
    background-size: cover;
    background-position: contain;
}
.introducing_text{
    text-align: right;
    margin-right: 10%;
    padding-top: 20%;
}
.introducing_text_paragraph{
    font-size: 30px;
}
.introducing_text_header{
    margin-top: 20px;
    font-size: 60px;
}
.introducing_name{
    color: red;
}


@media (max-width: 600px) {
    .main_section {
      background-image: url(../../assets/PhonesPhoto.jpeg);
    }
    .introducing_text {
      position: absolute;
      bottom: 30px;
      right: 20px;
    }
    .introducing_text_paragraph {
      font-size: 16px;
    }
    .introducing_text_header {
      font-size: 30px;
    }
  } ;
