
.contact_section {
  padding: 80px 10%;
  display: flex;
}
.contact_section__article {
  flex-basis: 35%;
}
.contact_section__header {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.contact_section__contacts {
  margin-top: 30px;
}
.contact_section__contacts i {
  color: #ff004f;
  margin-right: 15px;
  font-size: 25px;
}
.contact_section__social_media {
  margin-top: 30px;
}
.contact_section__social_media__item {
  display: inline-block;
  font-size: 30px;
  margin-right: 15px;
  transition: transform 0.5s;
}
.contact_section__social_media__item a {
  color: #ababab;
}
.contact_section__social_media__item:hover {
  transform: translateY(-5px);
}
.contact_section__social_media__item:hover a {
  color: #ff004f;
}
.contact_section__btn {
  display: inline-block;
  margin: 50px auto;
  width: fit-content;
  border: 1px solid #ff004f;
  padding: 14px 50px;
  border-radius: 6px;
  background-color: #ff004f;
  color: #fff;
}