.services_section {
  padding: 30px 10%;
}
.services_section__header {
  font-size: 60px;
  font-weight: 600;
  color: #fff;
}
.services_section__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}
.services_section__list_item {
  background-color: #262626;
  padding: 40px;
  font-size: 13px;
  font-weight: 300;
  border-radius: 10px;
  transition: background 0.5s, transform 0.5s;
}
.services_section__list_item:hover {
  background-color: #ff004f;
  transform: translateY(-10px);
}
.services_section__list_item i {
  font-size: 50px;
  margin-bottom: 30px;
}
.services_section__list_title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.services_section__list_link {
  font-size: 12px;
  margin-top: 20px;
  display: inline-block;
}

@media (max-width: 600px) {
  .services_section__header {
    font-size: 40px;
  }
}
