.header{
    padding: 10px 10%;
    width: 100%;
    position: absolute;
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo{
    width: 20px;
}